/* Container principal */
.main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
  }
  
  /* Container principal para o conteúdo da esquerda */
  .container-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente o conteúdo dentro da container */
    padding: 20px;
    flex: 1; /* Faz com que o container ocupe o espaço restante à esquerda */
    max-width: 600px; /* Define uma largura máxima para o container */
  }
  
  /* Cabeçalho com título */
  .header {
    display: flex;
    justify-content: center; /* Centraliza o título horizontalmente */
    width: 100%;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin: 0;
  }
  
  /* Lista de UUIDs */
  .uuid-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    text-align: center; /* Centraliza o texto dentro da lista */
  }
  
  .uuid-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Botão de Refresh */
  .refresh-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .refresh-button:hover {
    background-color: #0056b3;
  }
  
  /* Imagem */
  .image {
    max-width: 100%; /* Permite que a imagem se ajuste ao tamanho do container */
    height: auto;
  }
  