/* Container principal */
.main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
  }
  
  /* Container principal para o conteúdo da esquerda */
  .container-left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente o conteúdo dentro da container */
    padding: 20px;
    flex: 1; /* Faz com que o container ocupe o espaço restante à esquerda */
    max-width: 600px; /* Define uma largura máxima para o container */
  }
  
  .warning {
    display: flex;
    padding: 2em 0;
  }

  .warning-font {
    text-align: center;
    font-family: Google Sans, Google Sans Text, Roboto, Arial, sans-serif;
    color: #a9aaac;
    font-size: 12px;
    align-items: center;
    /* line-height: 44px;
    font-weight: 700; */
  }

  /* Cabeçalho com título */
  .header {
    display: flex;
    justify-content: center; /* Centraliza o título horizontalmente */
    width: 100%;
    margin-bottom: 20px;
  }
  
  .title {
    font-family: Google Sans, Google Sans Text, Roboto, Arial, sans-serif;
    color: #1182ec;
    font-size: 64px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -5px; 
    }
  
  /* Lista de UUIDs */
  .uuid-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    text-align: center; /* Centraliza o texto dentro da lista */
  }
  
  .uuid-item {
    padding: 15px;
    border-bottom: 1px solid #00000011;
  }
  
  /* Botão de Refresh */
  .refresh-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #1A73E8;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .refresh-button:hover {
    background-color: #0056b3;
  }
  
  /* Imagem */
  .image {
    /* max-width: 100%; 
    height: auto; */
    width: 500px;
    height: 500px;
  }
  
  /* Adiciona estilos para o texto do UUID */
.uuid-text {
  display: inline-block;
  color: #4d4d5e;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

/* Estilo para UUID quando é copiado */
.uuid-text.copied {
  color: #aaa; /* Cor mais clara para indicar que foi copiado */
}

.copy-button {
  padding: 5px;
  font-size: 1rem; /* Ajuste o tamanho do ícone conforme necessário */
  color: #7e7878;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-button i {
  font-size: 1.2rem; /* Ajuste o tamanho do ícone conforme necessário */
}

.copy-button:hover {
  color: #4346e4;
  background-color: #ffffff;
}


/* Estilo para o botão de copiar
.copy-button {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #1A73E8;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #0056b3;
} */


